# MongoDB
MONGODB_URI=mongodb://127.0.0.1:27017/collegepulse
# NextAuth
NEXTAUTH_SECRET=your-super-secret-key-here-change-this
NEXTAUTH_URL=http://localhost:3000

# Email (Gmail SMTP)
EMAIL_USER=test@gmail.com
EMAIL_PASS=Test@123

# Admin Setup (set this to make first admin)
ADMIN_EMAIL=admin@collegepulse.com
